extends common/layout

block content
  .content
    .central
      h1= title

      h2 JavaScript

      h3 Отступы
      span
        | Везде применяем пробелы вместо табов (1 таб == 2 пробела). Пробелы меджу операторами и операндами обязательны (1 штука). Смысловые отбивки кода пустыми строками очень желательны.
        | В коде в конце строк никаких висящих пробелов (поставьте для sublime плагин TrailingSpaces). В конце файла - одна пустая строка.
      pre
        p.code.good
          |function foo(param) {
          |  let some = '1';
          |  
          |  _.result(param, 'some.inner.function');
          |  return some + 1;
          |}
      pre
        p.code.bad
          |function foo(param) {
          |    let some='1';
          |    _.result(param,'some.inner.function');
          |    return some+1;
          |}

      h3 Блоки
      span
        | Блики оформляются фигурными скобками всегда, кроме однострочных. Начальная фигурная скобка на той же строке, где "заголовок" блока. Конечная - на уровне "заголовка".
        | Точки с запятой обязательны в конце строк, если это не конец блока
      pre
        p.code.good
          |function foo(param) {
          |  let some = _.get(param, 'some.inner.variable');
          |  
          |  if (some.foo == 'value') {
          |    some.bar = 5;
          |    some.zu = 'dwa';
          |  }
          |  
          |  if (some.abstract !== 1.34) return 0;
          |  return some + 1;
          |}

      pre
        p.code.bad
          |function foo(param) {
          |  let some = _.get(param, 'some.inner.variable')
          |  
          |  if (some.foo == 'value')
          |  {
          |    some.bar = 5;
          |  };
          |  
          |  return some + 1
          |}

      h3 Переменные
      span
        | В блоке объявления переменных используем только один var/let. Если переменных больше одной, первая переменная с новой строки после let. Знак '=' отбиваем с обеих сторон одним пробелом (как и любые другие операторы).
        | Имена переменных camelCase. В массивах и объектах скобки отбиваются пробелами, если значение написано в одну строку.
      pre
        p.code.good
          |let some = _.get(param, 'some.inner.variable');
          |  
          |  /* -- */
          |  
          |let
          |  some = 1,
          |  longName = 'test test',
          |  bar = true,
          |  someObject = { foo: 1 };

      pre
        p.code.bad
          |let some=_.get(param, 'some.inner.variable');
          |  
          |  /* -- */
          |  
          |let some = 1;
          |let   foo   ='test test';
          |let bar=true;
          |  
          |  /* -- */
          |  
          |let foo     = 1,
          |    long_name = 'test test',
          |    bar      = true,
          |    someArray=[1,3,5];

      h3 Функции/Циклы/Условные блоки
      span
        | Имена функций camelCase. В функциях круглые скобки не отделяются пробелом, фигурные - отделяются. В циклах и условных блоках круглые скобки отбиваются пробелами. Внутри круглых скобок отбивки пробелами нет. В параметрах после запятой/точки с запятой всегда 1 пробел.
      pre
        p.code.good
          |function someFunction(param1, param2) {
          |  /* body */
          |}
          |  
          |if (someFlag) {
          |  /* do some */
          |}

      pre
        p.code.bad
          |function some_function (param){
          |  /* body */
          |}
          |  
          |for( i=1;i<10;i++ )
          |  {
          |  /* do some */
          |  }

      h3 Кавычки
      span
        | Используем только одинарные кавычки или только бектики (для ES6), если это не часть HTML.
      pre
        p.code.good
          |var str = 'Simple string',
          |  foo = 'Hello',
          |  bar = 'World';
          |  
          |console.log(foo + ', ' + bar + '!');
          |  
          |/* if ES6 available */
          |  
          |let foo = `Hello`,
          |  bar = `World`;
          |  
          |console.log(`${foo}, ${bar}!`);

      pre
        p.code.bad
          |var str = "Simple string";
          |var  foo = 'Hello',
          |  bar = "World";
          |  
          |console.log(foo+','+bar+"!");
          |  
          |/* if ES6 available */
          |  
          |let foo = 'Hello',
          |  bar = `World`;
          |  
          |console.log(foo + "," + `${bar}!`);

      br
      br

      h2 HTML
      span
        | "Нет" вложенным блокам в одну строку (кроме строчных тегов с вложенностью 2, если вся конструкция вмещается в одну строку на экран).
        | Смысловые отбивки пустыми строками обязательны. "Нет" висячим пробелам. Комментарии крайне желательны. Кавычки только двойные (если это не часть js-кода). В конце файла - пустая строка.
      pre
        p.code.good
          |&lt;a href=&quot;#&quot;&gt;
          |  &lt;svg class=&quot;icon&quot;&gt;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#icon&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
          |&lt;/a&gt;
          |  
          |&lt;div&gt;
          |  &lt;span&gt;Some&lt;/span&gt;
          |&lt;/div&gt;
          |  
          |&lt;!-- Common --&gt;
          |&lt;div&gt;
          |  &lt;div&gt;Foo Bar&lt;/div&gt;
          |&lt;/div&gt;
          |  
          |&lt;!-- Black section --&gt;
          |&lt;div class=&quot;black&quot;&gt;
          |  &lt;div&gt;Foo Bar&lt;/div&gt;
          |  &lt;div&gt;Foo Bar&lt;/div&gt;
          |&lt;/div&gt;
          |  
          |&lt;!-- White section --&gt;
          |&lt;div class=&quot;white&quot;&gt;
          |  &lt;div&gt;Foo Bar&lt;/div&gt;
          |  &lt;div&gt;Foo Bar&lt;/div&gt;
          |  &lt;div&gt;Foo Bar&lt;/div&gt;
          |  &lt;div&gt;Foo Bar&lt;/div&gt;
          |&lt;/div&gt;

      pre
        p.code.bad
          |&lt;a href=&quot;#&quot;&gt;&lt;svg class=&quot;icon&quot;&gt;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#icon&quot;&gt;&lt;/use&gt;&lt;/svg&gt;&lt;/a&gt;
          |  
          |&lt;div&gt;
          |    &lt;span&gt;Some&lt;/span&gt;
          |  
          |&lt;/div&gt;
          |  
          |  
          |&lt;div&gt;&lt;div&gt;Foo Bar&lt;/div&gt;&lt;/div&gt;
          |&lt;div class=&quot;black&quot;&gt;
          |&lt;div&gt;Foo Bar&lt;/div&gt;
          |&lt;div&gt;Foo Bar&lt;/div&gt;
          |&lt;/div&gt;
          |&lt;div class=&quot;white&quot;&gt;
          |    &lt;div&gt;Foo Bar&lt;/div&gt;
          |    &lt;div&gt;Foo Bar&lt;/div&gt;
          |    &lt;div&gt;Foo Bar&lt;/div&gt;
          |    &lt;div&gt;Foo Bar&lt;/div&gt;
          |&lt;/div&gt;


      h2 CSS
      span
        | Отступ - 2 пробела. Цвета в RGB с маленькой вуквы, по возможности 3 символа. Во всех дробных значениях с ведущим нуляем ноль опускаем. Кавычки - одинарные. Фигурные скобки и двоеточие отбиваем 1 пробелом. Комментарии и отбивки пустыми строками крайне желательны. Никаких всящих пробелов. В конце файла - пустая строка.

      pre
        p.code.good
          |.someBlock {
          |  opacity: .6;
          |  color: #aaa;
          |}
          |  
          |.someImage {
          |  background-image: url('/static/images/icon.png');
          |}

      pre
        p.code.bad
          |.someBlock{
          |    opacity:0.6;
          |    color:#AAFFBB;
          |}
          |.someImage {
          |    background-image:url("/static/images/icon.png");
          |}
