h3 {
  margin-top: 40px;
}

.content {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.central {
  width: 1000px;
}

.code {
  display: block;
  padding: 30px;
}

.good {
  background-color: rgba(0, 255, 0, .1);
}

.bad {
  background-color: rgba(255, 0, 0, .1);
}
