body {
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.content {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.central {
  width: 1000px;
}

.part {
  font-size: 18px;
  padding-top: 20px;
}
