doctype html

html
  head
    title= title

    link(rel="stylesheet", href="https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css")
    link(rel="stylesheet", href="/static/css/common.css")

    - if(styles)
      link(rel="stylesheet", href=`/static/css/${styles}.css`)

    script(src="https://cdn.jsdelivr.net/lodash/4.13.0/lodash.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js")
    //- script(src="https://cdn.jsdelivr.net/umbrella/2.4.1/umbrella.min.js")

    - if(topScripts)
      script(src=`/static/js/${topScripts}.js`)


  body.content
    block content

    - if(bottomScripts)
      script(src=`/static/js/${bottomScripts}.js`)
