doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
    meta(charset="utf-8")
    meta(name="google", content="notranslate")

    if typeof styles == "string"
      link(rel="stylesheet", href=styles)
    else if styles
      each style in styles
        link(rel="stylesheet", href=style)

    title
      | #{title}

  body
    #content

  if vars
    script.
      var vars = !{JSON.stringify(vars)};

  if vendor
    script(src=vendor)

  if typeof scripts == "string"
    script(src=scripts)
  else if scripts
    each script in scripts
      script(src=script)
